body{
    margin: 0;
}
.bg1{
    background-color: rgb(123, 178, 207);
    height: 6rem;
    margin: 0px 0px 0px 0px;
}
.bg2{
    background-color: rgb(84, 162, 205);
    height: 4rem;
    margin: 0px 0px 0px 0px;
}
#t1{
    color: rgb(196, 212, 225);
    font-size: 50px;
    text-align: center;
    margin: 0px;
}
#logo{
    position: absolute;
    left: 0;
    top: 0;
    height: 30%;
    width: 15%;
    z-index: 1;
}
.nav1{
    background-color: #67915c;
    height: 110px;
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 5px 10px   ;
    color: white;
    overflow: hidden;
}
li{
    padding-bottom: 2px;
}
.rows{
    display: flex;
}
.col1 {
    flex: 1;
    height: 30rem;
}
.col2{
    flex: 3;
    height:20rem;
    padding-right: 2%;
}
#s1{
    background-color: rgb(44, 206, 179);
    color: white;
    text-align: center;
    margin: 0;
}
.sec1{
    background-color: rgb(115, 141, 198);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    border: 2px solid rgb(41, 41, 133);
    margin-left: 2%;
    margin-bottom: 1%
} 
.sec2{
    background-color: rgb(145, 188, 164);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    border: 2px solid rgb(41, 41, 133);
    margin-left: 2%;
}
#li1{
    padding-top: 5%;
    padding-bottom: 5%;
}
@media screen and (max-width: 550px) {
    .rows{
        display: flex;
        flex-direction: column;
    }
    #logo{
        top: 5%;
        height: 10%;
        width: 10%;
    }
    #t1{
        font-size: 30px;
    }
    .col1{
        height: 55rem;
    }
    
}
